<% content_for :title, "Bills" %>

<div class="w-full">
  <div class="flex flex-wrap gap-6">
    <div class="flex-1 min-w-[300px]">
      <h2 class="text-xl text-center mb-[3.4rem]">Invoices</h2>
      <%= render partial: "invoice", collection: @signature.invoices, as: :invoice %>
    </div>

    <div class="flex-1 min-w-[300px]">
      <h2 class="font-bold text-xl text-center mb-4"><%= @signature.package.present? ? "Package" : "Plan" %></h2>
      <h3 class="text-xl bg-indigo-200 rounded-md inline p-1 mb-4">
        <%= @signature.package.present? ? @signature.package.name : @signature.plan.name %>
      </h3>
      <%= render "table", bills: @plan_bills || @package_bills %>
    </div>

    <div class="flex-1 min-w-[300px]">
      <h2 class="font-bold text-xl mb-4 text-center">Additional services</h2>
      <% @additional_services.each do |service| %>
        <h3 class="text-xl bg-cyan-200 rounded-md inline p-1 mb-4"><%= service.name %></h3>
        <%= render "table", bills: service.bills %>
      <% end %>
    </div>
  </div>
</div>
