<nav class="bg-white shadow-md">
  <div class="container mx-auto px-4">
    <div class="flex items-center h-16">
      <div class="flex items-baseline space-x-2 flex-wrap">
        <%= link_to "Customers", customers_path, class: "px-3 py-2 font-medium" %>
        <%= link_to "Signatures", signatures_path, class: "text-gray-600 px-3 py-2 font-medium" %>
        <%= link_to "Packages", packages_path, class: "text-gray-600 px-3 py-2 font-medium" %>
        <%= link_to "Plans", plans_path, class: "text-gray-600 px-3 py-2 font-medium" %>
        <%= link_to "Additional services", additional_services_path, class: "text-gray-600 px-3 py-2 font-medium" %>
      </div>
    </div>
  </div>
</nav>
